__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
include/
lib/
bin/
pip-selfcheck.json
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
model/
.git/
.github/
tests/
testimages/
*.md
docker-compose*.yml
